/* @link https://utopia.fyi/type/calculator/?c=360,16,1.125,900,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
    --step--2: clamp(0.72rem, calc(0.84rem + -0.21vw), 0.79rem);
    --step--1: clamp(0.89rem, calc(0.88rem + 0.03vw), 0.90rem);
    --step-0: clamp(1.00rem, calc(0.92rem + 0.37vw), 1.13rem);
    --step-1: clamp(1.13rem, calc(0.94rem + 0.83vw), 1.41rem);
    --step-2: clamp(1.27rem, calc(0.94rem + 1.46vw), 1.76rem);
    --step-3: clamp(1.42rem, calc(0.91rem + 2.29vw), 2.20rem);
    --step-4: clamp(1.60rem, calc(0.84rem + 3.39vw), 2.75rem);
    --step-5: clamp(1.80rem, calc(0.71rem + 4.83vw), 3.43rem);
    --step-6: clamp(2.03rem, calc(0.20rem + 8.12vw), 4.77rem);
}

*, *::before, *::after {
box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	color-scheme: light dark;
    font-size: 20px;
}

body {
	height: 100vh;
	height: 100svh;
	background-color: hsl(0,0%,7%);
}

img, picture, svg, video {
	display: block;
    max-width: 100%;   
}

header {
    min-height: 30vh;
    padding-inline: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../media/header-background-augustine-wong-li0iC0rjvvg-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-color: lightgray;
    text-align: center;
    margin-bottom: 3rem;
    border-bottom: 3px solid white;
}

h1 {
    color: hsl(0, 0%, 10%);
    font-family: 'Permanent Marker', cursive;
    font-size: var(--step-5);
    letter-spacing: 0.5rem;
}

.largeletter {
    color: black;
    font-size: var(--step-6);
}

main {
	width: min(925px, 100%);
	margin-inline: auto;
	font-family: 'Overpass', sans-serif;
	background-color: hsl(0,0%,7%);
}

footer {
    text-align: center;
    background-color: hsl(0,0%,23%);
    color: hsl(0,0%,85%);
    font-size: var(--step--2);
    padding-block: 0.75rem;
    font-family: 'Overpass', sans-serif;
}

#beforeafter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    flex: 0 1 450px;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-size: var(--step-2);
    color: hsl(0,0%,90%);
    background-color: hsl(0,0%,20%);
    border: 1px solid hsl(0,0%,20%);
    margin-bottom: 2rem;
    border-radius: 3px;
}

.question {
    font-size: var(--step-2);
    padding: 0.5rem;
    color: hsl(0,0%,85%);
    background-color: hsl(0,0%,20%);
    border-radius: 3px 3px 0 0;
    border-bottom: 2px solid hsl(0,0%,30%);
    text-transform: capitalize;
    letter-spacing: .1rem;
}

.answer {
    font-size: var(--step-0);
    padding: 1.5rem;
    margin-bottom: 3rem;
    line-height: 2rem;
    color: hsl(0,0%,80%);
    background-color: hsl(0,0%,10%);
    border-radius: 0 0 3px 3px;
    letter-spacing: .2rem;
}

#phone-numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    font-size: var(--step-2);
}

a {
    text-decoration: none;
    color: hsl(0,0%,90%);
    padding-block: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: min(700px, 90%);
    margin: 0 auto;
    font-size: var(--step-1);
    color: hsl(0,0%,90%);
}

input,
textarea {
    font-size: var(--step-0);
    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: .025rem;
    color: hsl(0,0%,85%);
    background-color: hsl(0,0%,23%);
}

button {
    padding: 10px;
    width: 160px;
    margin-inline: auto;
    margin-bottom: 2.5rem;
    font-size: var(--step-2);
    font-weight: 700;
    color: hsl(0,0%,5%);
    background-color: hsl(0,0%,100%);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: hsl(0,0%,90%);
    box-shadow: inset 0px 0px 4px black;
}

button:active {
    color: hsl(0,0%,90%);
    background-color: hsl(0,0%,10%);
}
